# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.egg-info/

# Django
db.sqlite3
media/

# Node
node_modules/
build/
.env.local

# Flutter
.dart_tool/
build/
*.iml
.idea/
.gradle/

# OS
.DS_Store
Thumbs.db